.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; מתאים לגובה של כל המסך */
}

.App-logo {
  width: 250px;
  height: 250px;
  object-fit: contain;
  /* הסרת הסיבוב של הלוגו */
}

.loading-text {
  font-size: 24px;
  color: #000; /* שינוי הצבע לפי הצורך */
  margin-top: 20px;
}